@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Gotham";

    src: url("/fonts/gotham/Gotham-Book.woff2") format("woff2");

    font-weight: 400;

    font-style: normal;

    font-display: swap;
}
@font-face {
    font-family: "Gotham";

    src: url("/fonts/gotham/Gotham-Medium.woff2") format("woff2");

    font-weight: 500;

    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: "Gotham";

    src: url("/fonts/gotham/Gotham-Bold.woff2") format("woff2");

    font-weight: 700;

    font-style: normal;

    font-display: swap;
}

@theme {
    --font-sans:
        "Gotham", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary: #4b5332;
    --color-secondary: #3e2723;
    --color-tertiary: #d7c4a3;
    --color-neutral: #f5f2eb;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
