@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
    --font-bodoni: "Bodoni Moda", serif;
    --font-sans:
        "Gotham", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary: #4b5332;
    --color-secondary: #3e2723;
    --color-tertiary: #d7c4a3;
    --color-neutral: #f5f2eb;
    --color-coffeDark: #3e291b;
    --color-pastel: #e8ddc8;
    --color-bean: #6f4e37;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
    p {
        @apply leading-relaxed;
    }
    a {
        @apply cursor-pointer;
    }
    button {
        @apply cursor-pointer;
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */